* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 60px;
    font-weight: 700;
    color: #f4d35e;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul li a:hover {
    color: #f4d35e;
}

.container {
    display: flex;
    padding: 40px 60px;
}

.left {
    width: 40%;
}

.title {
    font-size: 48px;
    margin-bottom: 30px;
}

.profile-card img {
    width: 300px;
    border-radius: 20px;
}

.contact {
    margin-top: 20px;
    line-height: 1.8;
}

.social-title {
    margin-top: 40px;
    font-size: 36px;
}

.divider {
    width: 2px;
    background-color: white;
    margin: 0 30px;
}

.right {
    width: 60%;
}

.about {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro {
    font-size: 42px;
    line-height: 1.4;
}

.highlight {
    color: #f4d35e;
}

.course {
    margin-top: 20px;
    color: #f4d35e;
    font-weight: 600;
}

.description {
    margin-top: 15px;
    max-width: 600px;
}

.info-section {
    display: flex;
    gap: 60px; 
    margin-top: 40px;
}

.skills ul,
.hobbies ul {
    list-style: disc;
    padding-left: 20px;
    line-height: 1.8;
}

.btn {
    background-color: #f4d35e;
    color: black;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 50px;
    border-top: 1px solid #222;
}
